<section class="detalhes" *ngIf="livro">
  <button class="voltar" (click)="voltar()">← Voltar</button>

  <div class="detalhes-card">
    <img [src]="livro.capa" [alt]="livro.titulo">

    <div class="info">
      <span class="categoria">{{ livro.categoria }}</span>

      <h1>{{ livro.titulo }}</h1>

      <p class="autor">{{ livro.autor }}</p>
      <p class="ano">{{ livro.ano }}</p>

      <p class="sinopse">
        {{ livro.sinopse || 'Sinopse ainda não cadastrada.' }}
      </p>

      <div class="avaliacao">
  <span>Avaliar o livro:</span>

        <div class="estrelas">
          <button
            *ngFor="let estrela of [1,2,3,4,5]"
            (click)="avaliar(estrela)"
            [class.ativa]="estrela <= nota">
            ★
          </button>
        </div>

        <p class="media">Média: {{ livro.media || 0 }}</p>
        <p class="mensagem" *ngIf="mensagem">{{ mensagem }}</p>
      </div>
    </div>
  </div>
</section>
