<section class="hero">
    <div class="texto">
        <div class="card-texto">
            <h1 class="textoPrimeiro">Bem-vinda ao</h1>
            <h1 class="segundoTitulo"> Book Blog</h1>
        </div>
       

        <p>
            Seu espaço para descobrir, explorar e compartilhar histórias.
        </p>

        <div class="newsletter">
            <input type="email" placeholder="Seu melhor e-mail">
            <button>Inscreva-se</button>
        </div>
    </div>
    <img src="\book.png" alt="book" class="imagem">
</section>
